//
// CSS
// --------------------------------------------------
// Because this is a ReactJS app, please keep css to just scaffolding styles, and style components in ReactJS

@import 'normalize';

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.25;
}
